MobileWebServicesExample/WebService/Model/src/model/common/serviceinterface/AppModuleService.xsd

<schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="/model/common/types/"
     xmlns:tns="/model/common/types/" xmlns:ns0="/model/vo/common/" xmlns:ns1="http://xmlns.oracle.com/adf/svc/types/">
    <import namespace="/model/vo/common/" schemaLocation="../../vo/common/WidgetViewSDO.xsd"/>
    <import namespace="http://xmlns.oracle.com/adf/svc/types/" schemaLocation="classpath:/META-INF/wsdl/BC4JService.xsd"/>
    <import namespace="/model/vo/common/" schemaLocation="../../vo/common/CandyViewSDO.xsd"/>
    <import namespace="/model/vo/common/" schemaLocation="../../vo/common/JDemoViewSDO.xsd"/>
    <element name="whoseYourDaddy">
        <complexType>
            <sequence/>
        </complexType>
    </element>
    <element name="whoseYourDaddyResponse">
        <complexType>
            <sequence>
                <element name="result" type="string"/>
            </sequence>
        </complexType>
    </element>
    <element name="findCandyView1">
        <complexType>
            <sequence>
                <element name="findCriteria" type="ns1:FindCriteria"/>
                <element name="findControl" type="ns1:FindControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="findCandyView1Response">
        <complexType>
            <sequence>
                <element name="result" type="ns0:CandyViewSDO" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name="findJDemoView1">
        <complexType>
            <sequence>
                <element name="findCriteria" type="ns1:FindCriteria"/>
                <element name="findControl" type="ns1:FindControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="findJDemoView1Response">
        <complexType>
            <sequence>
                <element name="result" type="ns0:JDemoViewSDO" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
    <element name="createWidgetView1">
        <complexType>
            <sequence>
                <element name="widgetView1" type="ns0:WidgetViewSDO"/>
            </sequence>
        </complexType>
    </element>
    <element name="createWidgetView1Response">
        <complexType>
            <sequence>
                <element name="result" type="ns0:WidgetViewSDO"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateWidgetView1">
        <complexType>
            <sequence>
                <element name="widgetView1" type="ns0:WidgetViewSDO"/>
            </sequence>
        </complexType>
    </element>
    <element name="updateWidgetView1Response">
        <complexType>
            <sequence>
                <element name="result" type="ns0:WidgetViewSDO"/>
            </sequence>
        </complexType>
    </element>
    <element name="findWidgetView1">
        <complexType>
            <sequence>
                <element name="findCriteria" type="ns1:FindCriteria"/>
                <element name="findControl" type="ns1:FindControl"/>
            </sequence>
        </complexType>
    </element>
    <element name="findWidgetView1Response">
        <complexType>
            <sequence>
                <element name="result" type="ns0:WidgetViewSDO" minOccurs="0" maxOccurs="unbounded"/>
            </sequence>
        </complexType>
    </element>
</schema>
